@font-face {
  font-family: stupefaction;
  src:
      url('/fonts/stupefaction.ttf')
      format('truetype');
  src:
      url('/fonts/stupefaction.otf')
      format('opentype');
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 72px;
  text-align: center;
  font-family: stupefaction;
}

h2 {
  color: red;
  font-size: 38px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

div {
  padding: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  text-align: center;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: stupefaction;
  color: red;
  font-size: 38px;
  display: inline-block;
  background-color: white;
  border-radius: 0;
  border-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

button:hover {
  color: white;
  background-color: black;
}
